{% extends 'base.html' %}
{% block content %}
<h1>{{title}}</h1>

{% for contact in page_obj %}
{{ contact }}</p>
{% endfor %}
<ul>
    <p>
        На нашем сайте Вы найдете множество отзывов от довольных гостей, попробовавших блюда ресторана.
        Посетители делятся своими впечатлениями о вкусе, качестве и подаче различных позиций меню - от горячих блюд до
        изысканных десертов.<br><br>

        Оставляйте свои отзывы и рекомендации, чтобы помочь другим гостям сделать правильный выбор. Ваше мнение очень
        важно для нас, ведь мы стремимся постоянно улучшать качество обслуживания и радовать Вас вкусными и аппетитными
        блюдами.<br><br>

        Присоединяйтесь к нашему гастрономическому сообществу, делитесь своими кулинарными впечатлениями и открывайте
        для себя новые вкусовые сочетания от шеф-поваров нашего ресторана.<br><br>

        Пользователи могут легко фильтровать отзывы на блюда по категориям и тэгам.
        Зарегистрировавшись, вы сможете делиться своим опытом и
        загружать фотографии блюд. </p>
</ul>
{% endblock %}