{% extends 'base.html' %}
{% load restaurant_tags %}
{% block content %}
<h1>{{title}}</h1>

<ul id="leftchapters">
    {% if cat_selected == 0 or cat_selected is None %}
    <li class="selected">Все категории</li>
    {% else %}
    <li><a href="{% url 'look' %}">Все категории</a></li>
    {% endif %}
    {% show_categories cat_selected %}

</ul>
<ul>
    {% for p in posts %}
    <div class="index-post">
        <p>
            <img src="../../static/restaurant/images/post.png">
        </p>
        <div class="index-content">
            <h2>{{p.author}}</h2>
            <p>{{p.time_create|date:"d-m-Y H:i:s"}}</p>
            <p>{{p.dish}}</p>
            <p>{{p.review|truncatewords:50}}</p>
            <p><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
        </div>
    </div>
    {% endfor %}
</ul>

{% endblock %}