{% extends 'base.html' %}
{% load restaurant_tags %}
{% block content %}
<h1>{{title}}</h1>

<nav class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
<ul id="leftchapters">
    {% if cat_selected == 0 or cat_selected is None %}
    <li class="selected">Все категории</li>
    {% else %}
    <li><a href="{% url 'look' %}">Все категории</a></li>
    {% endif %}
    {% show_categories cat_selected %}

</ul>
<ul>

    {% for p in posts %}
    <div class="index-post">
        <p >
            {% if p.photo %}
            <img class="img-article-left" src="{{p.photo.url}}"></p>
        {% else %}
        <p><img class="img-article-left" src="{{ default_poll_image }}"></p>
        {% endif %}
        </p>
        <div class="index-content">
             <h2>{{ p.author.first_name }} {{ p.author.last_name }}</h2>
            <p>{{p.time_create|date:"d-m-Y H:i:s"}}</p>
            <p>{{p.dish}}</p>
            <p>{{p.review|truncatewords:50}}</p>
            <p><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
        </div>
    </div>
    {% endfor %}
</ul>
<nav class="list-pages">
    <ul>
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}
        </li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p  }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}