{% extends 'base.html' %}
{% block content %}
<div class="page-post">
<h1>{{ title }}  <span>{{ post.author }}</span></h1>

<p>{{post.time_create}}</p>
<p>Категория:
    {% for cat in cats %}
        {% if cat.id == post.category %}
            {{ cat.name }}
        {% endif %}
    {% endfor %}</p>
<p>{{post.dish}}</p>
<p>{{post.review}}</p>
{% if post.photo %}
    <p><img src="{{ post.photo.url }}"></p>
{% else %}
    <p><img src="{% static  'restaurant/images/post.png' % }"></p>
{% endif %}
</div>
{% endblock %}